*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

#canvas {
  width: 100%;
  height: 100%;
  flex: 1;
  min-height: 0;
  display: block;
}

.form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

input {
  border-radius: 10px;
  border: 0.5px solid var(--green-400);
  height: 36px;
  outline: none;
  padding: 0 14px;
}
label {
  color: var(--green-400);
  font-size: 16px;
  font-weight: 600;
}

:invalid input {
  border: 1px solid red;
}

.submit-btn {
  min-width: 40px;
  padding: 6px 32px;
  border-radius: 25px;
  outline: none;
  border: 1px solid var(--pink-300);
  color: white;
  font-weight: 600;
  background-color: var(--pink-500);
  cursor: pointer;
}

:hover.submit-btn {
  scale: 90% 90%;
  background-color: white;
  color: var(--pink-500);
}

.asterisk {
  color: var(--pink-500);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.option-container,
.object-option-container {
  z-index: 10;
  display: flex;

  gap: 12px;
}

.tile-container,
.object-container {
  z-index: 10;
  display: flex;
  gap: 12px;
}

.tile-option,
.object-option {
  width: 80px;
  height: 80px;
  border: 2px solid #ddd;
  border-radius: 12px;
  cursor: pointer;
  background: white;
}

.tile-option.active,
.object-option.active {
  border-color: var(--green-400);
}

:hover.tile-option,
:hover.object-option {
  scale: 110%;
}

.divider {
  height: 80px;
  width: 2px;
  border-right: 1px solid var(--pink-500);
}
